## The Pandas library
Pandas is the most widely used Python library to facilitate data processing. It is common to import the library with:

In [1]:
import pandas as pd

Pandas documentation can be found through the website https://pandas.pydata.org/docs/index.html#Links to an external site.. While the eContent serves a good introduction to Pandas, you will need to consult documentation once you start solving more difficult problems.

Pandas contains two main data types for representing data: **series** and **dataframes**.

***
## Pandas series
A pandas series is used to represent a one-dimensional array of data. Like a dictionary, a series has a labelled index that is paired with a corresponding value. Each value in a series has to have the same data type.

You can convert a dictionary to a series like the example below.

In [2]:
max_temps = pd.Series({'Brisbane': 33, 'Sydney': 30, 'Melbourne': 28})
max_temps

Brisbane     33
Sydney       30
Melbourne    28
dtype: int64

***
## Pandas dataframes
A pandas dataframe is used to represent tabular (two-dimensional) data. Each column of a dataframe behaves like a series and so must have entries of the same data type. All the columns (ie. series) share a common row label (index). You can create a dataframe from a dictionary where each key is a column name, and each value is a list of equal length, like the example below.

In [3]:
weather = pd.DataFrame({'Max temp': [33, 30, 28],
                        'Min temp': [24, 22, 24],
                        'Climate': ['storms', 'sunny', 'overcast']},
                        index = ['Brisbane', 'Sydney', 'Melbourne'])
weather

           Max temp  Min temp   Climate
Brisbane         33        24    storms
Sydney           30        22     sunny
Melbourne        28        24  overcast