# Lecture 3 of 9 - Sequences and For Loops

## Lists
Data structures in programming allow you to store multiple values together within a single structure. Python has many data structures, with the **list** being the most general one.

Lists have the following properties:
* The values in a list are ordered.
* A list is mutable, meaning it can be modified (eg. values changed).
* You can store any type of value in a list, including mixed types.

A list is created using square brackets by separating each element with a comma.

In [1]:
# a list of numbers
example_list = [1, 2, 3]

# a list containing different types
employee_data = ["David", "Rovere", 32]

# a list of lists - calory intake for 3 meals a day recorded over 4 days
calories = [[900, 750, 1020], 
            [300, 1000, 2700],
            [500, 700, 2100],
            [400, 900, 1780]]

## Tuples
A tuple is anothery type of Python sequence. It is similar to a list, except it is immutable. A tuple should be used over a list if it is important for it not to be changed. Curved brackets are used to create a tuple.

In [2]:
# examples utilising tuples
day_of_week = ("Monday", 2)
units = (("EGD103", 2022, "C1"), ("EGD120", 2022, "C1"))
cards = [("King", "Hearts"), (5, "Diamonds"), ("Ace", "Diamonds"), ("King", "Clubs"), (6, "Diamonds")]

## Indexing and Slicing

### Indexing
In Python, elements of a sequence (eg. list, tuple, string) can be accessed using indexes. 

The general syntax is:
```{Python}
sequence[index]
```
where index is a number representing the position of the element. 

Python uses zero based indexing (the first element is index 0, the second element is index 1, etc.). Negative indexes will count from the end (eg. the index for the last element is -1).

For a nested sequence (eg. list of lists), a single index will return an element from the outer sequence. To return an element of the inner sequence, two indexes are required.

### Slicing
You can access a slice of a sequence with the syntax:
```{Python}
sequence[start_index: stop_index]
```
The start_index defaults to zero if left blank. The stop_index defaults to the last index if left blank. A third value may be added to specify index spacing - the default value is 1.

### Reassigning values
You can reassign values of a list through indexing and assignment
```{Python}
list[index] = expression
```
Values in tuples and strings cannot be reassigned since they are immutable.

In [3]:
# indexing and slicing examples (in class)
employee_data

['David', 'Rovere', 32]

In [4]:
employee_data[0] # first element

'David'

In [5]:
employee_data[1] # second element

'Rovere'

In [6]:
employee_data[3] # index error if index doesn't exist

IndexError: list index out of range

In [8]:
employee_data[-1] # last element

32

In [9]:
employee_data[-2] # second last element

'Rovere'

In [12]:
employee_data[0][-1] # last character of first element of list

'd'

In [13]:
cards

[('King', 'Hearts'),
 (5, 'Diamonds'),
 ('Ace', 'Diamonds'),
 ('King', 'Clubs'),
 (6, 'Diamonds')]

In [14]:
cards[1:4] # select 2nd, 3rd and 4th card

[(5, 'Diamonds'), ('Ace', 'Diamonds'), ('King', 'Clubs')]

In [15]:
cards[:2] # select first 2 cards

[('King', 'Hearts'), (5, 'Diamonds')]

In [16]:
cards[-3:] # select last 3 cards

[('Ace', 'Diamonds'), ('King', 'Clubs'), (6, 'Diamonds')]

In [17]:
cards[:] # select all cards

[('King', 'Hearts'),
 (5, 'Diamonds'),
 ('Ace', 'Diamonds'),
 ('King', 'Clubs'),
 (6, 'Diamonds')]

In [18]:
# can modify an element with indexing
cards[0] = (5, 'Clubs')
cards

[(5, 'Clubs'),
 (5, 'Diamonds'),
 ('Ace', 'Diamonds'),
 ('King', 'Clubs'),
 (6, 'Diamonds')]

In [19]:
# can't modify for immutable sequences (eg. tuple, str)
day_of_week

('Monday', 2)

In [20]:
day_of_week[0] = 'Tuesday'

TypeError: 'tuple' object does not support item assignment

## Sequence operations, functions and methods
Note: some of these apply to all sequences

### Sequence operations
| Sequence Operator | Description |
| ----------- | ----------- |
| + | Concatenates (joins) the left sequence and the right sequence |
| * | Replicates sequence on the left by the value on the right |
| in | Tests for membership of the value on the left in the sequence on the right |

### Sequence functions
| Sequence Function | Description |
| ----------- | ----------- |
| len | Returns the length of the sequence (ie. number of elements) |
| min | Returns the minimum value in the sequence |
| max | Returns the maximum value in the sequence |
| sorted | Returns a sorted copy of the sequence |

### List methods
Firstly, we will introduce methods in general. A method is similar to a function, but it is stored within a data type (or class). The dot operator needs to be used to go within an instance of that type before calling the method.

Function syntax
```{Python}
function_name(inputs)
```

Method syntax
```{Python}
value.method_name(inputs)
```

Below are come commonly used methods for the list type.

| Sequence Function | Description |
| ----------- | ----------- |
| append | Appends a value to the end of a list |
| insert | Adds a value at the index given |
| count | Counts the number of occurances of a value in a list |
| sort | Sorts the list in ascending order |

A more detailed list can be found here: https://docs.python.org/3/tutorial/datastructures.html

List methods that update the list somehow (eg. adding elements, removing elements, changing order of elements) will update it in-place. This means they update the object the method is called on rather than returning a value for the new object.

In [33]:
# operation, function and method examples (in class)
# help(list)

In [21]:
# concatenate
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [22]:
# repeat
'ha' * 10

'hahahahahahahahahaha'

In [24]:
# membership
'i' in 'team'

False

In [25]:
'm' in 'team'

True

In [26]:
# find number of elements in a sequence
len(cards)

5

In [27]:
numbers = [3, 2, 6, 5, -4, 0]

In [28]:
min(numbers)

-4

In [29]:
max(numbers)

6

In [30]:
sorted(numbers)

[-4, 0, 2, 3, 5, 6]

In [31]:
# min, max, sorted won't work if you can't measure "bigness" of elements
min(cards)

TypeError: '<' not supported between instances of 'str' and 'int'

In [34]:
# appending
employee_data

['David', 'Rovere', 32]

In [36]:
employee_data.append('Male')
employee_data

['David', 'Rovere', 32, 'Male', 'Male']

In [37]:
employee_data.remove('Male')
employee_data

['David', 'Rovere', 32, 'Male']

In [38]:
employee_data.insert(1, '')
employee_data

['David', '', 'Rovere', 32, 'Male']

In [39]:
employee_data.pop(1)
employee_data

['David', 'Rovere', 32, 'Male']

In [42]:
# list methods update the list in place
# modify the original object rather than return a new object
employee_data.append(0)
employee_data

['David', 'Rovere', 32, 'Male', 0, 0, 0]

In [43]:
new_employee_data = employee_data.append(0)
new_employee_data

## For loops
The for statement allows us to repeat actions a fixed number of times.

The general syntax is:
```{Python}
for element in sequence:
    for_loop_body
```

The for loop will iterate through the block of code in the for loop body for each element of the sequence - one at a time. 

Iteration 1: `element = sequence[0]`

Iteration 2: `element = sequence[1]`

Iteration 3: `element = sequence[2]`

...

Final Iteration: `element = sequence[-1]`

The number of iterations is equal to the length of the sequence.

In [46]:
# eg. create a function that adds the numbers from a list of numbers
# cannot use the sum function
def add(numbers):
    total = 0 # set total to zero
    for number in numbers: # for each number in the list of numbers
        total = total + number # add the number to the total to get a new total
    return total    

add([5, 2, 6, 8, -4, 0])

17

In [49]:
# eg. create a function that returns the minimum value in a list without 
# using any in-built functions (eg. min).
def compute_minimum(numbers):
    minimum = numbers[0] 
    for number in numbers: # for each number in the list of numbers
        if number < minimum: # if number is smaller than the minimum
            minimum = number # then make it the new minimum
    return minimum

compute_minimum([5, 2, 6, 8, -4, 0])

-4

## Range For loops
A common type of sequence used in for loops is a range. A range is a convenient way to create an evenly spaced sequence to iterate through.

The general syntax is given below. start defaults to zero and step defaults to one when not provided. The stop value is non-inclusive.
```{Python}
range(start, stop, step)
```

For example, if we wanted to create a range with the numbers 0-9:

In [1]:
range(10)

range(0, 10)

Printing a range won't allow you to see the elements it contains. To see what values are inside the range, we can convert it to a list.

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list(range(10, 30, 3))

[10, 13, 16, 19, 22, 25, 28]

Range for loops are most useful when you want to iterate through index values. For example, if we had parallel lists of voltage and current:
```{Python}
voltages = [5, 4, 3, 6, 7, 9]
currents = [0.1, 0.2, 0.1, 0.3, 0.25, 0.2]
```
We can iterate through the index values to easily calculate the power for each corresponding element. This process is known as an element-wise operation.

In [51]:
# eg. compute electrical power (in class)
voltages = [5, 4, 3, 6, 7, 9]
currents = [0.1, 0.2, 0.1, 0.3, 0.25, 0.2]

In [52]:
powers = []
for index in range(len(voltages)):
    voltage = voltages[index]
    current = currents[index]
    power = voltage * current
    powers.append(power)

In [53]:
powers

[0.5, 0.8, 0.30000000000000004, 1.7999999999999998, 1.75, 1.8]