# Topic: Pandas Data Frames
In this class you will get practice at summarising data using Pandas.
Make sure to complete all of example 1. The remaining examples are provided for those that would like further practice.

### Online Documentation:
* Pandas User Guide: https://pandas.pydata.org/docs/user_guide/index.html
* Pandas User Guide - Intro to data structures: https://pandas.pydata.org/docs/user_guide/dsintro.html#dsintro
* Reading from CSV file: https://pandas.pydata.org/docs/user_guide/io.html#io-read-csv-table

# About Data Attribution

<i>
    "<b>Open data</b> is data that is openly accessible, exploitable, editable and shared by anyone for any purpose, even commercially"</i>.
<div style="text-align:right">[<a href="https://en.wikipedia.org/wiki/Open_data">Wikipedia</a>]</div>

<p>Open data is typically distributed under some form of <a href="">open license<a> agreement.</p>
    
<p>That license may impose <i>obligations</i> on the users of that data, including the need to:
<ul>
<li>include a reference to the license</li>
<li>acknowledge the person or organization that provided the data</li>
<li>note clearly when changes have been made to the original data</li>
</ul>

# Example 1: House Hold Energy Data

<h3>Data Attribution</h3>
<table style="border-style:solid; margin-left:0">
        <tr><td>Contributor:</td><td>Jaganadh Gopinadhan</td></tr>
        <tr><td>License:</td><td><a href="https://cdla.io/permissive-1-0/">Community Data License Agreement - Permissive - Version 1.0</a></td></tr>
        <tr><td>Data source:</td><td><a href="https://www.kaggle.com/jaganadhg/house-hold-energy-data">https://www.kaggle.com/jaganadhg/house-hold-energy-data</a></td></tr>
        <tr><td>Local data file:</td><td><a href="D202.csv">D202.csv</a>  </td></tr>
        <tr><td colspan=2>If you share this data, you must preserve this attribution.</td></tr>
</table>      
<p>Make sure you have uploaded file <code>D202.csv</code> to the same folder as this Notebook.</p>

## Importing and inspecting data

In [1]:
# Read file D202.csv into a Pandas DataFrame
import pandas as pd
D202 = pd.read_csv("D202.csv")
D202

,TYPE,DATE,START TIME,END TIME,USAGE,UNITS,COST,NOTES
0,Electric usage,10/22/2016,0:00,0:14,0.01,kWh,$0.00,NaN
1,Electric usage,10/22/2016,0:15,0:29,0.01,kWh,$0.00,NaN
2,Electric usage,10/22/2016,0:30,0:44,0.01,kWh,$0.00,NaN
3,Electric usage,10/22/2016,0:45,0:59,0.01,kWh,$0.00,NaN
4,Electric usage,10/22/2016,1:00,1:14,0.01,kWh,$0.00,NaN
...,...,...,...,...,...,...,...,...
70363,Electric usage,10/24/2018,22:45,22:59,0.02,kWh,$0.00,NaN
70364,Electric usage,10/24/2018,23:00,23:14,0.03,kWh,$0.01,NaN
70365,Electric usage,10/24/2018,23:15,23:29,0.03,kWh,$0.01,NaN
70366,Electric usage,10/24/2018,23:30,23:44,0.03,kWh,$0.01,NaN
70367,Electric usage,10/24/2018,23:45,23:59,0.03,kWh,$0.01,NaN

In [2]:
# Inspect the results above and answer the following questions:
# 1) What is the column name of the first column? TYPE
# 2) What is the row index of the first row? 0

In [3]:
# What is the type of the Date Column?
# It's an object - means it's treating it like a string
D202.dtypes

TYPE           object
DATE           object
START TIME     object
END TIME       object
USAGE         float64
UNITS          object
COST           object
NOTES         float64
dtype: object

In [4]:
# What is the kind of the index? 
# Range index
D202.index

RangeIndex(start=0, stop=70368, step=1)

In [5]:
D202.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70368 entries, 0 to 70367
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TYPE        70368 non-null  object
 1   DATE        70368 non-null  object
 2   START TIME  70368 non-null  object
 3   END TIME    70368 non-null  object
 4   USAGE       70368 non-null  float64
 5   UNITS       70368 non-null  object
 6   COST        70368 non-null  object
 7   NOTES       0 non-null      float64
dtypes: float64(2), object(6)
memory usage: 4.3+ MB

In [6]:
# Now we'll add extra parameters to the read_csv function so that the Date column becomes the index and Date strings should be parsed as Dates.
D202 = pd.read_csv("D202.csv", parse_dates = ['DATE'], index_col = ['DATE'])
D202

                      TYPE START TIME END TIME  USAGE UNITS    COST  NOTES
DATE
2016-10-22  Electric usage       0:00     0:14   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:15     0:29   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:30     0:44   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:45     0:59   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       1:00     1:14   0.01   kWh  $0.00     NaN
...                    ...        ...      ...    ...   ...     ...    ...
2018-10-24  Electric usage      22:45    22:59   0.02   kWh  $0.00     NaN
2018-10-24  Electric usage      23:00    23:14   0.03   kWh  $0.01     NaN
2018-10-24  Electric usage      23:15    23:29   0.03   kWh  $0.01     NaN
2018-10-24  Electric usage      23:30    23:44   0.03   kWh  $0.01     NaN
2018-10-24  Electric usage      23:45    23:59   0.03   kWh  $0.01     NaN

[70368 rows x 7 columns]

In [58]:
D202.index
# What is the kind of the index? Now it's a datetime index
# What is the data type of the values in the index? Datetime

DatetimeIndex(['2016-10-22', '2016-10-22', '2016-10-22', '2016-10-22',
               '2016-10-22', '2016-10-22', '2016-10-22', '2016-10-22',
               '2016-10-22', '2016-10-22',
               ...
               '2018-10-24', '2018-10-24', '2018-10-24', '2018-10-24',
               '2018-10-24', '2018-10-24', '2018-10-24', '2018-10-24',
               '2018-10-24', '2018-10-24'],
              dtype='datetime64[ns]', name='DATE', length=70368, freq=None)

In [8]:
# Is the Date index unique? Why (examine the data)? 
D202.index.is_unique

False

In [9]:
D202.describe()
# Why are statistics only listed for the Usage and Notes columns? Only works for columns with numeric data types.

              USAGE  NOTES
count  70368.000000    0.0
mean       0.121941    NaN
std        0.210507    NaN
min        0.000000    NaN
25%        0.030000    NaN
50%        0.050000    NaN
75%        0.120000    NaN
max        2.360000    NaN

## Selecting, filtering and aggregating data

In [10]:
# select a column
D202['COST']

DATE
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
               ...
2018-10-24    $0.00
2018-10-24    $0.01
2018-10-24    $0.01
2018-10-24    $0.01
2018-10-24    $0.01
Name: COST, Length: 70368, dtype: object

In [11]:
D202.COST

DATE
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
               ...
2018-10-24    $0.00
2018-10-24    $0.01
2018-10-24    $0.01
2018-10-24    $0.01
2018-10-24    $0.01
Name: COST, Length: 70368, dtype: object

In [12]:
# select a row
D202.loc['2016-10-22']

                      TYPE START TIME END TIME  USAGE UNITS    COST  NOTES
DATE
2016-10-22  Electric usage       0:00     0:14   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:15     0:29   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:30     0:44   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:45     0:59   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       1:00     1:14   0.01   kWh  $0.00     NaN
...                    ...        ...      ...    ...   ...     ...    ...
2016-10-22  Electric usage      22:45    22:59   0.05   kWh  $0.01     NaN
2016-10-22  Electric usage      23:00    23:14   0.30   kWh  $0.05     NaN
2016-10-22  Electric usage      23:15    23:29   0.30   kWh  $0.05     NaN
2016-10-22  Electric usage      23:30    23:44   0.30   kWh  $0.05     NaN
2016-10-22  Electric usage      23:45    23:59   0.30   kWh  $0.05     NaN

[96 rows x 7 columns]

In [13]:
# select row and column
D202.loc['2016-10-22', 'COST']

DATE
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
2016-10-22    $0.00
               ...
2016-10-22    $0.01
2016-10-22    $0.05
2016-10-22    $0.05
2016-10-22    $0.05
2016-10-22    $0.05
Name: COST, Length: 96, dtype: object

In [14]:
# select multiple rows / cols
D202.loc['2016-10-22', ['USAGE','COST']]

            USAGE    COST
DATE
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
...           ...     ...
2016-10-22   0.05  $0.01
2016-10-22   0.30  $0.05
2016-10-22   0.30  $0.05
2016-10-22   0.30  $0.05
2016-10-22   0.30  $0.05

[96 rows x 2 columns]

In [15]:
# select multiple rows / cols
D202.loc['2016-10-22' : '2016-10-28', ['USAGE','COST']]

            USAGE    COST
DATE
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
2016-10-22   0.01  $0.00
...           ...     ...
2016-10-28   0.07  $0.01
2016-10-28   0.05  $0.01
2016-10-28   0.05  $0.01
2016-10-28   0.05  $0.01
2016-10-28   0.05  $0.01

[672 rows x 2 columns]

In [16]:
midday = D202['START TIME'] == '12:00'
D202[midday] # select all rows of D202 where midday is True

                      TYPE START TIME END TIME  USAGE UNITS    COST  NOTES
DATE
2016-10-22  Electric usage      12:00    12:14   0.13   kWh  $0.02     NaN
2016-10-23  Electric usage      12:00    12:14   0.05   kWh  $0.01     NaN
2016-10-24  Electric usage      12:00    12:14   0.03   kWh  $0.01     NaN
2016-10-25  Electric usage      12:00    12:14   0.03   kWh  $0.01     NaN
2016-10-26  Electric usage      12:00    12:14   0.05   kWh  $0.01     NaN
...                    ...        ...      ...    ...   ...     ...    ...
2018-10-20  Electric usage      12:00    12:14   0.05   kWh  $0.01     NaN
2018-10-21  Electric usage      12:00    12:14   0.00   kWh  $0.00     NaN
2018-10-22  Electric usage      12:00    12:14   0.00   kWh  $0.00     NaN
2018-10-23  Electric usage      12:00    12:14   0.02   kWh  $0.00     NaN
2018-10-24  Electric usage      12:00    12:14   0.01   kWh  $0.00     NaN

[733 rows x 7 columns]

In [17]:
# filtering - select all midday observations
D202[D202['START TIME'] == '12:00']

                      TYPE START TIME END TIME  USAGE UNITS    COST  NOTES
DATE
2016-10-22  Electric usage      12:00    12:14   0.13   kWh  $0.02     NaN
2016-10-23  Electric usage      12:00    12:14   0.05   kWh  $0.01     NaN
2016-10-24  Electric usage      12:00    12:14   0.03   kWh  $0.01     NaN
2016-10-25  Electric usage      12:00    12:14   0.03   kWh  $0.01     NaN
2016-10-26  Electric usage      12:00    12:14   0.05   kWh  $0.01     NaN
...                    ...        ...      ...    ...   ...     ...    ...
2018-10-20  Electric usage      12:00    12:14   0.05   kWh  $0.01     NaN
2018-10-21  Electric usage      12:00    12:14   0.00   kWh  $0.00     NaN
2018-10-22  Electric usage      12:00    12:14   0.00   kWh  $0.00     NaN
2018-10-23  Electric usage      12:00    12:14   0.02   kWh  $0.00     NaN
2018-10-24  Electric usage      12:00    12:14   0.01   kWh  $0.00     NaN

[733 rows x 7 columns]

In [18]:
# aggregates
D202['USAGE'].mean()
D202['USAGE'].median()
D202['USAGE'].std()

0.21050692734054596

In [19]:
# Extract just the Usage column from this data frame
D202['USAGE']

DATE
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
              ...
2018-10-24    0.02
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
Name: USAGE, Length: 70368, dtype: float64

In [20]:
D202.USAGE

DATE
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
              ...
2018-10-24    0.02
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
Name: USAGE, Length: 70368, dtype: float64

In [21]:
type(D202)

pandas.core.frame.DataFrame

In [22]:
# What is the Python data type of this result (Data Frame or Data Series?)
# series
type(D202.USAGE)

pandas.core.series.Series

In [23]:
# Extract just the Usage column using a loc expression
D202.loc[:, 'USAGE']

DATE
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
              ...
2018-10-24    0.02
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
Name: USAGE, Length: 70368, dtype: float64

In [24]:
# Extract just the Usage column using a iloc expression
D202.iloc[:, 3]

DATE
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
2016-10-22    0.01
              ...
2018-10-24    0.02
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
2018-10-24    0.03
Name: USAGE, Length: 70368, dtype: float64

In [25]:
# What is the maximum Usage?
max_usage = D202['USAGE'].max()
max_usage

2.36

In [26]:
# Extract the rows from the house hold energy data frame where the usage is at it's maximum.
# How many rows are there?
max_usage_row = D202['USAGE'] == max_usage
D202[max_usage_row]

                      TYPE START TIME END TIME  USAGE UNITS    COST  NOTES
DATE
2017-12-30  Electric usage      17:00    17:14   2.36   kWh  $0.57     NaN
2017-12-30  Electric usage      17:15    17:29   2.36   kWh  $0.65     NaN
2017-12-30  Electric usage      17:30    17:44   2.36   kWh  $0.65     NaN
2017-12-30  Electric usage      17:45    17:59   2.36   kWh  $0.65     NaN

In [27]:
# Retrieve all rows where the usage is greater than zero
positive_usage_row = D202['USAGE'] > 0
D202_positive = D202[positive_usage_row]

In [28]:
# What was the minimum usage from those rows?
min_usage = D202_positive['USAGE'].min()
min_usage

0.01

In [29]:
# Retrieve the rows where usage was at that minimum
D202_min_usage = D202_positive[D202_positive['USAGE'] == min_usage]
D202_min_usage

                      TYPE START TIME END TIME  USAGE UNITS    COST  NOTES
DATE
2016-10-22  Electric usage       0:00     0:14   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:15     0:29   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:30     0:44   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       0:45     0:59   0.01   kWh  $0.00     NaN
2016-10-22  Electric usage       1:00     1:14   0.01   kWh  $0.00     NaN
...                    ...        ...      ...    ...   ...     ...    ...
2018-10-24  Electric usage      12:45    12:59   0.01   kWh  $0.00     NaN
2018-10-24  Electric usage      13:00    13:14   0.01   kWh  $0.00     NaN
2018-10-24  Electric usage      13:15    13:29   0.01   kWh  $0.00     NaN
2018-10-24  Electric usage      13:30    13:44   0.01   kWh  $0.00     NaN
2018-10-24  Electric usage      13:45    13:59   0.01   kWh  $0.00     NaN

[3148 rows x 7 columns]

In [30]:
# Use the unique() method to determine the number of different dates where usage was at that minimum
len(D202_min_usage.index.unique())

298

## Aggregating using the groupby method

In [31]:
# Now we will add some new columns to capture some different aspects of the datetime data. 
# You will learn about this more next week
D202['DAY'] = D202.index.day_name()
D202['MONTH'] = D202.index.month_name()
D202

,TYPE,START TIME,END TIME,USAGE,UNITS,COST,NOTES,DAY,MONTH
DATE,,,,,,,,,
2016-10-22,Electric usage,0:00,0:14,0.01,kWh,$0.00,NaN,Saturday,October
2016-10-22,Electric usage,0:15,0:29,0.01,kWh,$0.00,NaN,Saturday,October
2016-10-22,Electric usage,0:30,0:44,0.01,kWh,$0.00,NaN,Saturday,October
2016-10-22,Electric usage,0:45,0:59,0.01,kWh,$0.00,NaN,Saturday,October
2016-10-22,Electric usage,1:00,1:14,0.01,kWh,$0.00,NaN,Saturday,October
...,...,...,...,...,...,...,...,...,...
2018-10-24,Electric usage,22:45,22:59,0.02,kWh,$0.00,NaN,Wednesday,October
2018-10-24,Electric usage,23:00,23:14,0.03,kWh,$0.01,NaN,Wednesday,October
2018-10-24,Electric usage,23:15,23:29,0.03,kWh,$0.01,NaN,Wednesday,October
2018-10-24,Electric usage,23:30,23:44,0.03,kWh,$0.01,NaN,Wednesday,October
2018-10-24,Electric usage,23:45,23:59,0.03,kWh,$0.01,NaN,Wednesday,October

In [32]:
# Return a dataframe that displays the average usage per 15 min observation for each day of the week, sorted in descending order.
# Which days of the week have the highest usage?
# Hint: Use groupby to group by day. Use the sort_values() method to sort.
D202.groupby('DAY')['USAGE'].mean().sort_values(ascending = False)

# usage is highest on weekends when people are at home rather than work

DAY
Sunday       0.141234
Saturday     0.134044
Monday       0.120813
Friday       0.119884
Thursday     0.114175
Tuesday      0.112063
Wednesday    0.111278
Name: USAGE, dtype: float64

In [59]:
# Return a dataframe that displays the average usage per 15 min observation for each month, sorted in descending order.
# Which months have the highest usage?
D202.groupby('MONTH')['USAGE'].mean().sort_values(ascending = False)

# usage is highest December and January. For this location (Northern hemisphere) this is when it is coldest and heating is run the most.

MONTH
December     0.209395
January      0.203555
February     0.159554
November     0.136546
March        0.130498
July         0.104839
June         0.094736
April        0.093493
September    0.091715
August       0.085867
May          0.082151
October      0.074564
Name: USAGE, dtype: float64

In [60]:
# Return a dataframe that displays the total daily usage for each date. Which date has the highest usage?
# Hint: Use groupby to group by the date index. Use a sum aggregate to get the total for each day.
D202.groupby('DATE')['USAGE'].sum().sort_values().tail(1)

# The highest daily usage of 39.72 kWh was recorded on 1st January 2017.

DATE
2017-01-01    39.72
Name: USAGE, dtype: float64

## Computed columns and the apply method

In [61]:
# Use the apply method to clean the cost column so there is no leading dollar sign, and it returns a float value
# Hint: The values in the cost column are currently strings. Select all values of the string from the 2nd character onwards
#       and then convert to a float.

def clean_cost(cost):
    return float(cost[1: ])

D202['COST'] = D202['COST'].apply(clean_cost)
D202

,TYPE,START TIME,END TIME,USAGE,UNITS,COST,NOTES,DAY,MONTH
DATE,,,,,,,,,
2016-10-22,Electric usage,0:00,0:14,0.01,kWh,0.00,NaN,Saturday,October
2016-10-22,Electric usage,0:15,0:29,0.01,kWh,0.00,NaN,Saturday,October
2016-10-22,Electric usage,0:30,0:44,0.01,kWh,0.00,NaN,Saturday,October
2016-10-22,Electric usage,0:45,0:59,0.01,kWh,0.00,NaN,Saturday,October
2016-10-22,Electric usage,1:00,1:14,0.01,kWh,0.00,NaN,Saturday,October
...,...,...,...,...,...,...,...,...,...
2018-10-24,Electric usage,22:45,22:59,0.02,kWh,0.00,NaN,Wednesday,October
2018-10-24,Electric usage,23:00,23:14,0.03,kWh,0.01,NaN,Wednesday,October
2018-10-24,Electric usage,23:15,23:29,0.03,kWh,0.01,NaN,Wednesday,October
2018-10-24,Electric usage,23:30,23:44,0.03,kWh,0.01,NaN,Wednesday,October
2018-10-24,Electric usage,23:45,23:59,0.03,kWh,0.01,NaN,Wednesday,October

In [62]:
# Now create a new column which represents the cost per kWh. What is the average cost per kWh?
D202['COST PER KWH'] = D202['COST'] / D202['USAGE']
D202['COST PER KWH'].mean()

0.18998251364238192

In [64]:
# Use the apply method to categorise whether an observation belongs to a weekday or a weekend. Add this as a new column to the data.
def is_weekend(day):
    return day in ['Saturday', 'Sunday']

D202['WEEKEND'] = D202['DAY'].apply(is_weekend)
D202

,TYPE,START TIME,END TIME,USAGE,UNITS,COST,NOTES,DAY,MONTH,COST PER KWH,WEEKEND
DATE,,,,,,,,,,,
2016-10-22,Electric usage,0:00,0:14,0.01,kWh,0.00,NaN,Saturday,October,0.000000,True
2016-10-22,Electric usage,0:15,0:29,0.01,kWh,0.00,NaN,Saturday,October,0.000000,True
2016-10-22,Electric usage,0:30,0:44,0.01,kWh,0.00,NaN,Saturday,October,0.000000,True
2016-10-22,Electric usage,0:45,0:59,0.01,kWh,0.00,NaN,Saturday,October,0.000000,True
2016-10-22,Electric usage,1:00,1:14,0.01,kWh,0.00,NaN,Saturday,October,0.000000,True
...,...,...,...,...,...,...,...,...,...,...,...
2018-10-24,Electric usage,22:45,22:59,0.02,kWh,0.00,NaN,Wednesday,October,0.000000,False
2018-10-24,Electric usage,23:00,23:14,0.03,kWh,0.01,NaN,Wednesday,October,0.333333,False
2018-10-24,Electric usage,23:15,23:29,0.03,kWh,0.01,NaN,Wednesday,October,0.333333,False
2018-10-24,Electric usage,23:30,23:44,0.03,kWh,0.01,NaN,Wednesday,October,0.333333,False
2018-10-24,Electric usage,23:45,23:59,0.03,kWh,0.01,NaN,Wednesday,October,0.333333,False

# Example 2: Thermodynamic Properties of Water

<h3>Data Attribution</h3>
<table style="border-style:solid; margin-left:0">
        <tr><td>Contributor:</td><td>Israel Urieli</td></tr>
        <tr><td>License:</td><td><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States</a></td></tr>
        <tr><td>Data source:</td><td><a href="https://www.ohio.edu/mechanical/thermo/property_tables/H2O/">https://www.ohio.edu/mechanical/thermo/property_tables/H2O/</a></td></tr>
        <tr><td>Local data file:</td><td><a href="H2O_TempSat.csv">H2O_TempSat.csv</a>  </td></tr>
        <tr><td>Local changes:</td><td>Converted from Excel to CSV and top 2 header rows removed.</td></tr>
        <tr><td colspan=2>If you share this data, you must preserve this attribution.</td></tr>
</table>      
<p>Make sure you have uploaded file <code>H2O_TempSat.csv</code> to the same folder as this Notebook.</p>

In [66]:
# Read file Water Saturation Properties Temperature Table.csv into a pandas data frame 
# and use the temperature column as the index
water_properties = pd.read_csv('H2O_TempSat.csv', index_col = ['Temp'])
water_properties

,Pressure,vf,vg,uf,ug,hf,hfg,hg,sf,sfg,sg
Temp,,,,,,,,,,,
0.01,0.000612,0.001000,205.990000,0.0,2374.9,0.00,2500.9,2500.9,0.0000,9.1555,9.1555
5.00,0.000873,0.001000,147.010000,21.0,2381.8,21.02,2489.1,2510.1,0.0763,8.9485,9.0248
10.00,0.001228,0.001000,106.300000,42.0,2388.6,42.02,2477.2,2519.2,0.1511,8.7487,8.8998
15.00,0.001706,0.001001,77.880000,63.0,2395.5,62.98,2465.3,2528.3,0.2245,8.5558,8.7803
20.00,0.002339,0.001002,57.760000,83.9,2402.3,83.91,2453.5,2537.4,0.2965,8.3695,8.6660
25.00,0.003170,0.001003,43.340000,104.8,2409.1,104.83,2441.7,2546.5,0.3672,8.1894,8.5566
30.00,0.004247,0.001004,32.880000,125.7,2415.9,125.73,2429.8,2555.5,0.4368,8.0153,8.4520
35.00,0.005629,0.001006,25.210000,146.6,2422.7,146.63,2417.9,2564.5,0.5051,7.8466,8.3517
40.00,0.007385,0.001008,19.520000,167.5,2429.4,167.53,2406.0,2573.5,0.5724,7.6831,8.2555
45.00,0.009595,0.001010,15.250000,188.4,2436.1,188.43,2394.0,2582.4,0.6386,7.5247,8.1633
50.00,0.012350,0.001012,12.030000,209.3,2442.7,209.34,2382.0,2591.3,0.7038,7.3710,8.0748
55.00,0.015760,0.001015,9.564000,230.2,2449.3,230.26,2369.8,2600.1,0.7680,7.2218,7.9898
60.00,0.019950,0.001017,7.667000,251.2,2455.9,251.18,2357.6,2608.8,0.8313,7.0768,7.9081
65.00,0.025040,0.001020,6.194000,272.1,2462.4,272.12,2345.4,2617.5,0.8937,6.9360,7.8296
70.00,0.031200,0.001023,5.040000,293.0,2468.9,293.07,2333.0,2626.1,0.9551,6.7989,7.7540
75.00,0.038600,0.001026,4.129000,314.0,2475.2,314.03,2320.6,2634.6,1.0158,6.6654,7.6812
80.00,0.047410,0.001029,3.405000,335.0,2481.6,335.01,2308.0,2643.0,1.0756,6.5355,7.6111
85.00,0.057870,0.001032,2.826000,356.0,2487.8,356.01,2295.3,2651.3,1.1346,6.4088,7.5434
90.00,0.070180,0.001036,2.359000,377.0,2494.0,377.04,2282.5,2659.5,1.1929,6.2852,7.4781
95.00,0.084610,0.001040,1.981000,398.0,2500.0,398.09,2269.5,2667.6,1.2504,6.1647,7.4151
100.00,0.101400,0.001044,1.672000,419.1,2506.0,419.17,2256.4,2675.6,1.3072,6.0469,7.3541
110.00,0.143400,0.001052,1.209000,461.3,2517.7,461.42,2229.7,2691.1,1.4188,5.8193,7.2381
120.00,0.198700,0.001060,0.891200,503.6,2528.9,503.81,2202.1,2705.9,1.5279,5.6012,7.1291
130.00,0.270300,0.001070,0.668000,546.1,2539.5,546.38,2173.7,2720.1,1.6346,5.3918,7.0264
140.00,0.361500,0.001080,0.508500,588.8,2549.6,589.16,2144.2,2733.4,1.7392,5.1901,6.9293
150.00,0.476200,0.001091,0.392500,631.7,2559.1,632.18,2113.7,2745.9,1.8418,4.9953,6.8371
160.00,0.618200,0.001102,0.306800,674.8,2567.8,675.47,2081.9,2757.4,1.9426,4.8065,6.7491
170.00,0.792200,0.001114,0.242600,718.2,2575.7,719.08,2048.8,2767.9,2.0417,4.6233,6.6650
180.00,1.002800,0.001127,0.193800,761.9,2582.8,763.05,2014.2,2777.2,2.1392,4.4448,6.5840
190.00,1.255200,0.001142,0.156400,806.0,2589.0,807.43,1977.9,2785.3,2.2355,4.2704,6.5059
200.00,1.554900,0.001157,0.127200,850.5,2594.2,852.27,1939.7,2792.0,2.3305,4.0997,6.4302
210.00,1.907700,0.001173,0.104300,895.4,2598.3,897.63,1899.7,2797.3,2.4245,3.9318,6.3563
220.00,2.319600,0.001190,0.086090,940.8,2601.2,943.58,1857.3,2800.9,2.5177,3.7663,6.2840
230.00,2.797100,0.001209,0.071500,986.8,2602.9,990.19,1812.7,2802.9,2.6101,3.6027,6.2128
240.00,3.346900,0.001230,0.059710,1033.4,2603.1,1037.60,1765.4,2803.0,2.7020,3.4403,6.1423
250.00,3.976200,0.001252,0.050080,1080.8,2601.8,1085.80,1715.1,2800.9,2.7935,3.2786,6.0721
260.00,4.692300,0.001276,0.042170,1129.0,2598.7,1135.00,1661.6,2796.6,2.8849,3.1167,6.0016
270.00,5.503000,0.001303,0.035620,1178.1,2593.7,1185.30,1604.4,2789.7,2.9765,2.9539,5.9304
280.00,6.416600,0.001333,0.030150,1228.3,2586.4,1236.90,1543.0,2779.9,3.0685,2.7894,5.8579
290.00,7.441800,0.001366,0.025560,1279.9,2576.5,1290.00,1476.7,2766.7,3.1612,2.6222,5.7834
300.00,8.587900,0.001404,0.021660,1332.9,2563.6,1345.00,1404.6,2749.6,3.2552,2.4507,5.7059
310.00,9.865100,0.001448,0.018340,1387.9,2547.1,1402.20,1325.7,2727.9,3.3510,2.2734,5.6244
320.00,11.284000,0.001499,0.015470,1445.3,2526.0,1462.20,1238.4,2700.6,3.4494,2.0878,5.5372
330.00,12.858000,0.001561,0.012980,1505.8,2499.2,1525.90,1140.1,2666.0,3.5518,1.8904,5.4422
340.00,14.601000,0.001638,0.010780,1570.6,2464.4,1594.50,1027.3,2621.8,3.6601,1.6755,5.3356
350.00,16.529000,0.001740,0.008802,1642.1,2418.1,1670.90,892.7,2563.6,3.7784,1.4326,5.2110
360.00,18.666000,0.001895,0.006949,1726.3,2351.8,1761.70,719.8,2481.5,3.9167,1.1369,5.0536
370.00,21.044000,0.002215,0.004954,1844.1,2230.3,1890.70,443.8,2334.5,4.1112,0.6900,4.8012
373.95,22.064000,0.003106,0.003106,2015.7,2015.7,2084.30,0.0,2084.3,4.4070,0.0000,4.4070

In [67]:
# Write Python code to find the data relating to water at 100 degrees celsius
# Note: this can be done by either using using a .loc expression or by filtering the row where the index column == 100
water_properties.loc[100]

Pressure       0.101400
vf             0.001044
vg             1.672000
uf           419.100000
ug          2506.000000
hf           419.170000
hfg         2256.400000
hg          2675.600000
sf             1.307200
sfg            6.046900
sg             7.354100
Name: 100.0, dtype: float64

In [68]:
# Find the hfg enthalpy of water at 65 degrees celsius (hint: use a .loc expression)
water_properties.loc[65, 'hfg']

2345.4

In [70]:
# Write Python code to find all data relating to temperatures of at most 38 degrees celsius
water_properties.loc[:35]

,Pressure,vf,vg,uf,ug,hf,hfg,hg,sf,sfg,sg
Temp,,,,,,,,,,,
0.01,0.000612,0.001000,205.99,0.0,2374.9,0.00,2500.9,2500.9,0.0000,9.1555,9.1555
5.00,0.000873,0.001000,147.01,21.0,2381.8,21.02,2489.1,2510.1,0.0763,8.9485,9.0248
10.00,0.001228,0.001000,106.30,42.0,2388.6,42.02,2477.2,2519.2,0.1511,8.7487,8.8998
15.00,0.001706,0.001001,77.88,63.0,2395.5,62.98,2465.3,2528.3,0.2245,8.5558,8.7803
20.00,0.002339,0.001002,57.76,83.9,2402.3,83.91,2453.5,2537.4,0.2965,8.3695,8.6660
25.00,0.003170,0.001003,43.34,104.8,2409.1,104.83,2441.7,2546.5,0.3672,8.1894,8.5566
30.00,0.004247,0.001004,32.88,125.7,2415.9,125.73,2429.8,2555.5,0.4368,8.0153,8.4520
35.00,0.005629,0.001006,25.21,146.6,2422.7,146.63,2417.9,2564.5,0.5051,7.8466,8.3517

In [71]:
# Write Python code to find entropy data (columns sf, sfg and sg) 
# relating to temperatures in the range of 100 - 150 degrees celsius
# Hint: use loc slicing for both the row and column labels
water_properties.loc[100:150, 'sf':'sg']

           sf     sfg      sg
Temp
100.0  1.3072  6.0469  7.3541
110.0  1.4188  5.8193  7.2381
120.0  1.5279  5.6012  7.1291
130.0  1.6346  5.3918  7.0264
140.0  1.7392  5.1901  6.9293
150.0  1.8418  4.9953  6.8371

# Example 3: Predictive Maintenance

<h3>Data Attribution</h3>
<table style="border-style:solid; margin-left:0">
        <tr><td>Contributor:</td><td>Stephan Matzka, School of Engineering - Technology and Life, Hochschule für Technik und Wirtschaft Berlin, 12459 Berlin, Germany</td></tr>
        <tr><td>Data source:</td><td><a href="https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset">https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset</a></td></tr>
        <tr><td>Local data file:</td><td><a href="ai4i2020.csv">ai4i2020.csv</a>  </td></tr>
        <tr><td colspan=2>If you share this data, you must preserve this attribution.</td></tr>
</table>      
<p>Make sure you have uploaded file <code>ai4i2020.csv</code> to the same folder as this Notebook.</p>

In [72]:
# Read a local csv file containing predictive maintenance data and store in a data frame.  
# Use the first column (UDI) as the row index.
maintenance_data = pd.read_csv('ai4i2020.csv', index_col = ['UDI'])
maintenance_data

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
UDI,,,,,,,,,,,,,
1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [73]:
# Find the rows for products that have failed because of tool wear (column TWF)
TWF_failure = maintenance_data['TWF'] > 0
TWF_failure_data = maintenance_data[TWF_failure]
TWF_failure_data

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
UDI,,,,,,,,,,,,,
78,L47257,L,298.8,308.9,1455,41.3,208,1,1,0,0,0,0
1088,H30501,H,296.9,307.8,1549,35.8,206,1,1,0,0,0,0
1510,L48689,L,298.0,308.5,1429,37.7,220,1,1,0,0,0,0
1683,H31096,H,297.9,307.4,1604,36.1,225,1,1,0,0,0,0
1764,L48943,L,298.2,307.6,1511,31.0,209,1,1,0,0,0,0
1997,M16856,M,298.4,308.0,1416,38.2,198,1,1,0,0,0,0
2167,M17026,M,299.6,309.2,1867,23.4,225,1,1,0,0,0,0
2245,M17104,M,299.3,308.4,1542,37.5,203,1,1,0,0,0,0
2672,M17531,M,299.7,309.3,1399,41.9,221,1,1,0,0,0,0
2865,H32278,H,300.6,309.4,1380,47.6,246,1,1,0,0,0,0
2942,M17801,M,300.7,309.6,1996,19.8,203,1,1,0,0,0,0
3530,L50709,L,301.9,310.9,1567,39.0,214,1,1,0,0,0,0
3612,L50791,L,301.7,310.9,1405,46.4,207,1,1,0,0,0,1
3696,L50875,L,302.2,311.3,1530,37.3,207,1,1,0,0,0,0
3866,H33279,H,302.6,311.5,1629,34.4,228,1,1,0,0,0,0
4035,L51214,L,302.0,310.8,1615,29.0,235,1,1,0,0,0,0
4208,M19067,M,302.3,310.9,1710,30.4,218,1,1,0,0,0,0
4386,L51565,L,301.8,309.7,1442,45.3,233,1,1,0,0,0,0
4470,L51649,L,302.7,310.5,1446,40.9,211,1,1,0,0,0,0
4647,L51826,L,303.3,311.4,1497,46.0,234,1,1,0,0,0,0
4817,L51996,L,303.4,312.0,1521,35.9,215,1,1,0,0,0,0
5142,L52321,L,304.4,313.7,1509,35.0,205,1,1,0,0,0,0
5310,M20169,M,303.9,313.2,1422,48.0,215,1,1,0,0,0,0
5402,M20261,M,302.6,312.3,1454,54.8,253,1,1,0,0,1,0
5910,H35323,H,300.7,310.2,1364,65.3,208,1,1,0,1,1,0
6000,M20859,M,300.4,310.2,1671,30.5,234,1,1,0,0,0,0
6173,L53352,L,300.8,310.6,1577,37.9,227,1,1,0,0,0,0
6257,L53436,L,301.0,310.6,1493,37.8,206,1,1,0,0,0,0
6341,H35754,H,300.5,309.9,1397,45.9,210,1,1,0,0,0,0
6420,H35833,H,300.3,309.9,1394,46.7,210,1,1,0,0,0,0
6760,L53939,L,301.7,311.0,1441,44.3,208,1,1,0,0,0,0
7088,L54267,L,300.6,310.3,1648,30.5,217,1,1,0,0,0,0
7427,M22286,M,300.0,311.4,1692,29.0,216,1,1,0,0,0,0
7511,L54690,L,300.5,311.8,1524,38.9,214,1,1,0,0,0,0
7688,M22547,M,300.7,311.7,2097,18.9,232,1,1,0,0,0,0
7850,M22709,M,300.3,311.7,1374,47.9,222,1,1,0,0,0,0
8112,M22971,M,300.4,311.8,1553,33.1,209,1,1,0,0,0,0
8200,L55379,L,299.2,310.7,1737,27.0,225,1,1,0,0,0,0
8358,L55537,L,298.5,309.5,1385,46.3,203,1,1,0,0,0,0
8610,L55789,L,297.4,308.3,1475,40.5,222,1,1,0,0,0,0
8691,L55870,L,297.1,308.5,1323,44.4,207,1,1,0,0,0,0
8847,M23706,M,297.4,308.8,1325,62.4,204,1,1,0,0,1,0
9019,L56198,L,297.3,308.1,1615,35.4,217,1,1,0,0,0,0
9175,L56354,L,297.8,308.9,1871,25.6,200,1,1,0,0,0,0
9577,L56756,L,299.6,310.7,1922,23.3,205,1,1,0,0,0,0
9759,L56938,L,298.6,309.8,2271,16.2,218,1,1,0,0,0,0

In [80]:
# How many rows are in those tool wear results
TWF_failure_data.shape # 46 rows

(46, 13)

In [82]:
# What is the average rotational of all products
maintenance_data['Rotational speed [rpm]'].mean()

1538.7761

In [83]:
# Find all the products that have had both heat dissipation failure (HDF) and overstrain failure (OSF)
HD_failure = maintenance_data['HDF'] > 0
OS_failure = maintenance_data['OSF'] > 0
maintenance_data[HD_failure & OS_failure]

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
UDI,,,,,,,,,,,,,
4371,L51550,L,302.0,309.9,1308,57.6,197,1,0,1,0,1,0
4384,L51563,L,301.7,309.5,1298,65.5,229,1,0,1,0,1,0
4463,L51642,L,302.7,310.5,1263,67.8,197,1,0,1,0,1,0
4643,L51822,L,303.2,311.4,1238,54.6,226,1,0,1,0,1,0
4644,L51823,L,303.2,311.4,1324,54.2,228,1,0,1,0,1,0
4730,L51909,L,303.4,311.8,1306,61.0,215,1,0,1,0,1,0

<b>Change Data Frame and Write to File</b>

In [86]:
# A corrupted version of the Ai4i2020 Dataset has been supplied to you that needs to be modified.  
# Write Python code to create a dataframe from the supplied file: "ai4i2020_DODGEY data.csv"
corrupted_data = pd.read_csv('ai4i2020_DODGEY data.csv', index_col = 'UDI', header = 1) # header used to start from 2nd row
corrupted_data

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
UDI,,,,,,,,,,,,,
1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [88]:
# Make the required change to the dataframe data:
#     The air temperature of UDI 7 should be 298.1 (not 2298.1).
# Hint: use a loc expression to refer to the cell that needs to be changed
corrupted_data.loc[7, 'Air temperature [K]'] = 298.1

In [89]:
# How do we check that it worked?
corrupted_data.loc[7, 'Air temperature [K]']

298.1

In [90]:
# Save the modified data to a file with the name: "ai4i2020_MODIFIED data.csv"
corrupted_data.to_csv('ai4i2020_MODIFIED data.csv')

# Example 4: Oscilloscope Data

<h3>Data Attribution</h3>
<table style="border-style:solid; margin-left:0">
        <tr><td>Contributor:</td><td>Xitong Gao</td></tr>
        <tr><td>Data source:</td><td><a href="https://github.com/admk/Tektronix-Waveform-Converter/blob/master/Test%20Samples/TEK0002.CSV">https://github.com/admk/Tektronix-Waveform-Converter/blob/master/Test%20Samples/TEK0002.CSV</a></td></tr>
        <tr><td>Local data file:</td><td><a href="TEK0002.csv">TEK0002.csv</a>  </td></tr>
        <tr><td colspan=2>If you share this data, you must preserve this attribution.</td></tr>
</table>      
<p>Make sure you have uploaded file <code>TEK0002.csv</code> to the same folder as this Notebook.</p>

In [92]:
# Write Python code to read the file: TEK0002.csv 
scope_data = pd.read_csv('TEK0002.csv')
scope_data

        Record Length  2.50E+03  Unnamed: 2  -0.000025  -0.206
0     Sample Interval  2.00E-08         NaN  -0.000025  -0.204
1       Trigger Point  1.25E+03         NaN  -0.000025  -0.204
2              Source       CH1         NaN  -0.000025  -0.198
3      Vertical Units         V         NaN  -0.000025  -0.198
4      Vertical Scale  5.00E-02         NaN  -0.000025  -0.200
...               ...       ...         ...        ...     ...
2494              NaN       NaN         NaN   0.000025   0.198
2495              NaN       NaN         NaN   0.000025   0.202
2496              NaN       NaN         NaN   0.000025   0.202
2497              NaN       NaN         NaN   0.000025   0.208
2498              NaN       NaN         NaN   0.000025   0.208

[2499 rows x 5 columns]

What's wrong with the data in this DataFrame?

Open the raw csv file to better understand the problem: <a href="TEK0002.csv">TEK0002.csv</a>

In [93]:
# The first row of the csv file was treated as the header row, but it actually contained data and there are no column names provided.
# Read the data again, but add parameter header=None to tell pandas there there is no header row.
scope_data = pd.read_csv('TEK0002.csv', header = None)
scope_data

                    0         1   2         3      4
0       Record Length  2.50E+03 NaN -0.000025 -0.206
1     Sample Interval  2.00E-08 NaN -0.000025 -0.204
2       Trigger Point  1.25E+03 NaN -0.000025 -0.204
3              Source       CH1 NaN -0.000025 -0.198
4      Vertical Units         V NaN -0.000025 -0.198
...               ...       ...  ..       ...    ...
2495              NaN       NaN NaN  0.000025  0.198
2496              NaN       NaN NaN  0.000025  0.202
2497              NaN       NaN NaN  0.000025  0.202
2498              NaN       NaN NaN  0.000025  0.208
2499              NaN       NaN NaN  0.000025  0.208

[2500 rows x 5 columns]

In [95]:
# The actual oscilloscope data is in columns 3 and 4, while columns 0 and 1 contain meta data.
# Start by retrieving just the Meta data from columns 0 and 1 and rows 0 to 14
metadata = scope_data.loc[:14, :1]
metadata

                   0          1
0      Record Length   2.50E+03
1    Sample Interval   2.00E-08
2      Trigger Point   1.25E+03
3             Source        CH1
4     Vertical Units          V
5     Vertical Scale   5.00E-02
6    Vertical Offset   0.00E+00
7   Horizontal Units          s
8   Horizontal Scale   5.00E-06
9             Pt Fmt          Y
10             Yzero   0.00E+00
11       Probe Atten   1.00E+00
12      Model Number   TDS2012C
13     Serial Number    C011240
14  Firmware Version  FV:v24.09

In [99]:
# Next we will extract the actual oscilloscope data in columns 3 and 4 and change the column names to time and amplitude
# Hint: use the rename method and pass a dictionary mapping old column names to new column names.
# e.g. dataframe.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
scope_data = scope_data.loc[:, 3:]
scope_data = scope_data.rename(columns = {3: 'time', 4: 'amplitude'})
scope_data

          time  amplitude
0    -0.000025     -0.206
1    -0.000025     -0.204
2    -0.000025     -0.204
3    -0.000025     -0.198
4    -0.000025     -0.198
...        ...        ...
2495  0.000025      0.198
2496  0.000025      0.202
2497  0.000025      0.202
2498  0.000025      0.208
2499  0.000025      0.208

[2500 rows x 2 columns]

In [106]:
# Write code to get a sample of the data by selecting every 100th reading.
# Hint: use slicing, specifying the 'step' argument
scope_data.iloc[range(0, 2500, 100)]

          time  amplitude
0    -0.000025     -0.206
100  -0.000023     -0.128
200  -0.000021     -0.122
300  -0.000019     -0.128
400  -0.000017     -0.124
500  -0.000015     -0.126
600  -0.000013     -0.126
700  -0.000011     -0.032
800  -0.000009     -0.020
900  -0.000007     -0.016
1000 -0.000005     -0.016
1100 -0.000003     -0.020
1200 -0.000001     -0.016
1300  0.000001      0.064
1400  0.000003      0.086
1500  0.000005      0.092
1600  0.000007      0.088
1700  0.000009      0.092
1800  0.000011      0.090
1900  0.000013      0.146
2000  0.000015      0.182
2100  0.000017      0.186
2200  0.000019      0.186
2300  0.000021      0.188
2400  0.000023      0.186