# EGD103 Tutorial 1 of 9

## Python Concepts: 
* expressions
* variables
* arithmetic operators
* calling built-in functions
* accessing modules
* assignment statements

### Keywords
* <code>import</code>

### Modules:
<code>math</code> [<code>pi</code>, <code>tan</code>, <code>sin</code>, <code>cos</code>, <code>sqrt</code>]

---

<u><b>EXERCISES:</b></u>
<br>
[JupyterLab Basics](#jupyterlab_basics)
<br>

[Basic Calculations](#Basic_Calculations):
> [Distance Travelled](#distance_travelled)<br>
> [Radians to Degrees](#radians_to_degrees)<br>

[Algebraic Expressions](#Algebraic_Expressions):
> [$5x^3$](#5x^3)<br>
> [$4x^2 + 7x^3 - 9x + 5$](#4x^2+7x^3-9x+5)<br>
> [$\sqrt{4x^3}$](#sqrt(4x^3))<br>
> [$7\sqrt{x^{x+1}}$](#7sqrt(x^(x+1)))<br>

[Geometry](#Geometry)<br>
> [Area of a Triangle](#area_triangle)<br>
> [Volume of a Cylinder](#volume_cylinder)<br>
> [Length of Hypotenuse](#length_hypotenuse)<br>
> [Area of Trapezoid](#area_trapezoid)<br>
> [Surface Area of Cone](#surface_area_cone)<br>
> [Area of Regular Polygon](#area_regular_polygon)<br>

[Errors](#Errors)<br>
> [Pythagorean Trig Identity](#pythagorean_trig_identity)<br>
> [Debugging Formula](#debugging_formula)<br>

[Variables and Assignment](#variables_and_assignment):
> [Average Speed](#average_speed)<br>
> [Earth vs Moon](#earth_vs_moon)<br>
> [Microcentury](#microcentury)<br>

<hr>

# <a name="jupyterlab_basics"></a>JupyterLab Basics

Each 'cell' in a JupyterLab Notebook can contain one of three content <em>types</em>:
* Code
* Markdown or
* Raw 

You can change the <em>type</em> by using the dropdown widget on the menu, which display the current <em>type</em> selected.  (Initially "Markdown" should be visible.)

The result of 'executing' a cell (by either using the 'play' button on the menu (triangle), or by using the key combination Control+ENTER) depends on the cell <em>type</em>.  If it is <strong>Code</strong>, that code is evaluated.  If it is <strong>Markdown</strong>, the text will be displayed according to the markup tags used to format the text. If it is <strong>Raw</strong>, the text will simply be displayed 'as is', ie as plain text.  Notice that, before execution, the contents of cells looks different depending on the selected <em>type</em>.

A <em>collapsed</em> cell will show as a large elipses, and can be expanded by clicking on the elipses.  See the tracing exercises below.  To collapse a cell, use the View menu option.

##### Markdown
You will see that this cell is Markdown, and it contains special markup 'tags' surrounding parts of the text to change the way it is displayed when executed.  To look at those tags, double click on any of the text here.  For example you will see how we have marked up the headings and the bulleted lists, and emphasised some words (with italics and bolding).  To render the cell as we intended, simply execute the cell again.

Markdown cells will be used to introduce exercises, supply any useful information/resources and to group related exercises into sections.

##### Code
Most of your interaction with exercise files like this one will be in Code cells.  Generally there will be some Python comments giving a brief introduction to the exercise, potentially followed by some code, then a description of the task you are to complete.  After writing your solution, execute the cell to evaluate your Python code.  Any result of evaluating your code will be displayed in a new cell below the code.  Anything printed will just appear at the bottom of the current cell.

If your code produces an error, read the error message to understand which part of your code is causing the error, and what type of error it is.  This will hopefully be a useful hint for debugging!

### Resources:
* <a href = "https://jupyter.org/">Jupyter Home Page</a> (including links to installation files)
* <a href ="https://jupyterlab.readthedocs.io/en/stable/user/interface.html">JupyterLab Interface doco</a>
* <a href="https://www.markdownguide.org/getting-started/">Markdown - Getting Started</a>
* <a href ="https://www.markdownguide.org/basic-syntax/">Markdown - Basic Syntax Guide</a>
* <a href ="https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet">Markdown for Jupyter Notebooks Cheatsheet</a> (IBM)
* <a href="https://docs.python.org/3/">Python3 Documentation</a>

<hr>

# <a name="Basic_Calculations"><a> Basic Calculations

<a name="distance_travelled"></a>
<b>Distance Travelled</b>

Using the supplied Python variables, write an expression to calculate the distance travelled in kms using the formula: $distance = speed \times time$.

NB: you will need to convert minutes to hours

In [1]:
# Some Python variables
speed = 1000 # in kms/hr
time = 2 # in minutes

speed * time / 60
# The result should be 33.333333333333336

33.333333333333336

<a name="radians_to_degrees"></a>
<b>Radians to Degrees</b>

Using the supplied Python variable, write an expression to calculate the angle in degrees, using the formula: $degrees = radians \times \frac{180}{\pi}$.

In [2]:
# Import the math module to use pi
import math

# A Python variable
radians = 100

radians * 180 / math.pi
# The result should be 5729.5779513082325

5729.5779513082325

<hr>

<a name="Algebraic_Expressions"><a>
# Algebraic Expressions

We will assign the value 3 to the variable x for use in the following examples
(but the expressions will be written the same regardless of the value of variable x)

In [3]:
# store the value 3 in variable x
x = 3

Write Python expressions for each of the following algebraic expressions:

<a name="5x^3"></a>
$5x^3$

In [4]:
# Write your answer here.
# The result should be 135
5 * x**3

135

<a name="4x^2+7x^3-9x+5"></a>
$4x^2 + 7x^3 - 9x + 5$

In [5]:
# Write your answer here.
# The result should be 203
4*x**2 + 7*x**3 - 9*x + 5

203

<a name="sqrt(4x^3)"></a>
$\sqrt{4x^3}$

In [6]:
# Write your answer answer here.
# The result should be 10.392304845413264
math.sqrt(4 * x**3)

10.392304845413264

<a name="7sqrt(x^(x+1))"></a>
$7 \sqrt{x^{x+1}}$

In [7]:
# Write your answer here.
# The result should be 63.0
7 * math.sqrt(x**(x + 1))

63.0

<hr>

<a name="Geometry"><a>
# Geometry

Formulas:
    <ul>
        <li>area of triangle = $\frac{hb}{2}$</li>
        <li>volume of a cylinder = $\pi r^2h$</li>
        <li>hypotenuse = $\sqrt{a^2 + b^2}$</li>
        <li>area of trapezoid = $\frac{(a + b)}{2} h$</li>
        <li>surface area of right circular cone = $\pi r^2 + \pi r\sqrt{r^2 + h^2}$</li>
        <li>area of a regular polygon = $n r^2 tan(\frac{\pi}{n})$</li>
    </ul>

<a name="area_triangle"></a>
<b>Calculate the area of a triangle</b>

In [8]:
height = 3.5
base = 7.1

# Write your answer here.
# The result should be 12.424999999999999
height * base / 2

12.424999999999999

<a name="volume_cylinder"></a>
<b>Calculate the volume of a cylinder</b>

In [9]:
radius = 2
height = 3.4

# Write your answer here.
# The result should be 42.725660088821186
math.pi * radius**2 * height

42.725660088821186

<a name="length_hypotenuse"></a>
<b>Calculate the length of the hypotenuse of a triangle</b>

In [10]:
side_a = 18.3
side_b = 9.42

# Write your answer here.
# The result should be 20.582186472773003
math.sqrt(side_a**2 + side_b**2)

20.582186472773003

<a name="area_trapezoid"></a>
<b>Calculate the area of a trapezoid</b>

In [11]:
base_a = 3.112
base_b = 5.0001
height = 9.2

# Write your answer here.
# The result should be 37.315659999999994
(base_a + base_b) / 2 * height

37.315659999999994

<a name="surface_area_cone"></a>
<b>Calculate the surface area of cone</b>

In [12]:
radius = 3
height = 8

# Write your answer here.
# The result should be 108.79967207790783
math.pi*radius**2 + math.pi*radius*math.sqrt(radius**2 + height**2)

108.79967207790783

<a name="area_regular_polygon"></a>
<b>Calculate the area of a regular polygon</b>

In [13]:
number_sides = 5
radius = 7.4

# Write your answer here.
# The result should be 198.92734416786783
number_sides * radius**2 * math.tan(math.pi / number_sides)

198.92734416786783

<hr>

## Errors
When programming, you are bound to make errors at some point. It is important that you are able to troubleshoot your code to identify and remove these errors. There are three main types of errors: syntax errors, runtime errors and semantic errors.

**Syntax errors:** caused when code does not abide by the rules of the language. Python will do a syntax check for an entire code cell before attempting to run the code.

**Runtime errors:** caused while running the code. The language is correct, but an answer cannot be computed for the task that was given (eg. divide by zero error).

**Semantic errors:** caused when code runs, but the instructions are incorrect.

Python will pick up syntax errors and runtime errors for you. Semantic errors will often go undetected, so it important to have sound practices in place to help detect semantic errors (eg. using test cases to verify whether your code can perform tasks correctly).

<a name="pythagorean_trig_identity"></a>
<b>Debugging Pythagorean trigonometric identity</b> 
<br/>    
Does:
    $sin ^2(x) + cos ^ 2(x)$ equal $1?$

In [14]:
# Find and fix the errors in the following code
# this code has multiple errors, so we'll use Python to identify each one and then correct after reading the error

x = math.pi / 4

sin**2(x) + cos**2(x) = 1

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2579336155.py, line 6)

In [15]:
# first error is a syntax error with assignment (storing value in a variable). We'll just remove the assignment.
sin**2(x) + cos**2(x)

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_204/2310827435.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x)
/tmp/ipykernel_204/2310827435.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x)

NameError: name 'sin' is not defined

In [16]:
# next error is a name error. sin and cos are in the math module, so let's correct
math.sin**2(x) + math.cos**2(x)

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_204/646844254.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x)
/tmp/ipykernel_204/646844254.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x)

TypeError: 'int' object is not callable

In [17]:
# next error says we can't call an integer - 2(x). Only functions are callable, so let's alter so we're calling sin and cos.
math.sin(x)**2 + math.cos(x)**2

0.9999999999999999

<a name="debugging_formula"></a>
<b>Debugging Formula</b>

The code below attempts to convert a temperature from Fahrenheit to Celcius. However, it is not returning the correct answer of 100. Run the code, and then modify it so it produces the correct value.

NB. You may need to research what the correct conversion formula is.

In [18]:
# Find and fix the errors in the following code

fahrenheit = 212

celsius = fahrenheit - 32 * 5 / 9

# now display the variable
celsius

194.22222222222223

In [19]:
# wrong value displayed - semantic error. Let's correct.
celcius = (fahrenheit - 32) * 5 / 9
celcius

100.0

<a name="variables_and_assignment"></a>
<hr/>

# Variables and Sequencing

Now we will look at more difficult problems that are best solved with multiple statements that are sequentially executed.

<a name="average_speed">
<b>Average Speed</b></a>

Imagine that you get on your bicycle and travel from your home to QUT at 30 km/hr.  After a hard day's study you cycle home again more slowly at 20 km/hr.

Quickly now, what is your average speed for the whole round trip?  Be careful - most people get this wrong!  (Thanks to Professor Julius Sumner Miller for this brainteaser.)

To check the correct answer, complete the code below. We have chosen an arbitrary distance of 6 km between your house and the university but the result is the same regardless of the distance.

(Author: Colin Fidge 2021)

In [20]:
# Given values:
distance_from_home_to_uni = 6 # km
speed_from_home_to_uni = 30 # km/hr
speed_from_uni_to_home = 20 # km/hr

# Complete the following code by replacing None with the appropriate expression.
# FYI: None is a special value in Python that represents nothing.
time_to_get_to_uni = distance_from_home_to_uni / speed_from_home_to_uni # hours

time_to_get_home = distance_from_home_to_uni / speed_from_uni_to_home # hours

total_travelling_time = time_to_get_to_uni + time_to_get_home # hours

total_distance_travelled = distance_from_home_to_uni * 2 # km

speed_for_round_trip = total_distance_travelled / total_travelling_time # km/hr

speed_for_round_trip # correct answer is 24.0

24.0

<a name="earth_vs_moon"></a>
<b>Earth vs Moon</b>

Which has more dry land: Earth or the moon?

Earth has a surface area of $5.1 \times 10^8$ km$^2$ and 71% of the earth is covered in water.

The moon has a diameter of 3475 km and no water on its surface.

(Author: Colin Fidge (2021) - Quiz question from Time magazine)

In [22]:
# Complete the following code by replacing None with the appropriate expressions:

# First calculate the amount of dry land on Earth
earths_surface_area = 5.1e8 # sq km

earths_water_area = 0.71 * earths_surface_area

earths_dry_land = earths_surface_area - earths_water_area

# Now calculate the amount of dry land on the moon
moons_radius = 3475 / 2 # km

moons_dry_land = 4 * math.pi * moons_radius**2

# Which has more dry land, the earth or the moon?
print(moons_dry_land, earths_dry_land)

37936694.78750525 147900000.0

<a name="microcentury"></a>
<b>Microcentury</b>

When asked how long his lectures were, Professor Julius Sumner Miller usually answered "about a microcentury."  As an arithmetic exercise we can find out how many minutes in a microcentury by multiplying the minutes in an hour x hours in a day x days in a year x years in a century then dividing by 1 million ("micro" means one millionth).

In [23]:
# Some of the values are familiar to us without much thought:
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365 # ish
years_per_century = 100

# But others require a bit of calculation.
# For each of the remaining variables, change the question marks 
# to an appropriate expression that uses the variables
# above, and no numeric literals

minutes_per_day = minutes_per_hour * hours_per_day
minutes_per_century = minutes_per_day * days_per_year * years_per_century
microcentury = minutes_per_century * 10**-6

microcentury

52.559999999999995