# Summarising Data using Pandas

## Grocery Data Example

In [ ]:
import pandas as pd
groceries = pd.read_csv('Data/groceries.csv', parse_dates=['ShoppingDate']) 
groceries

<style>
    .jp-RenderedMarkdown {
  background-color: yellow;
}
</style>

<div style="background-color:palegreen">
<h3>How to compute a new Pandas DataFrame column</h3>
    
Example:

```bash
    mydataframe['newColumn'] = mydataframe.Column1 - mydataframe.Column2 / mydataframe.Column3
```
</div>

In [ ]:
# Compute a new TotalCost column for each row (CostPerItem x Quantity)

# insert your code here

groceries

<div style="background-color:palegreen">

### How to compute a new Pandas column using a Python function

Example:
```bash    
    def my_function(row) :
        if row.a == 7 :
            return row.c + row.d
        else
            return 42
            
    mydataframe['newCol'] = mydataframe.apply(my_function, axis=1)
```
</div>

In [ ]:
# Change the TotalCost calculation so that a 10% discount is applied to an item if the quantity purchased is more than 5.
    
# insert your code here

groceries

In [ ]:
# What is the total cost of all groceries purchased?

# insert your code here

# Answer should be $7620.38

<div style="background-color:palegreen">

### How to use a group by query in Pandas

Examples:
```bash      
    mydataframe.groupby('my_column').other_column.mean()
    mydataframe.groupby('my_column').other_column.sum()
    mydataframe.groupby('my_column').other_column.min()
``` 
</div>

In [ ]:
# Use a group by to compute the total groceries purchased on each Shopping Date

# insert your code here

<div style="background-color:palegreen">

### How to Visualize a Pandas DataFrame as a line plot

Example:
```bash     
mydataframe.plot(x, y, 
                 figsize=(width, height),  # measurments in inches
                 title='My Title',         # optional
                 xlabel='My x axis label', # optional
                 ylabel='My y axis label') # optional
```
</div>

In [ ]:
# Plot this data as a line graph with an appropriate title and axis labels
# Hint: use the following code to display all 20 dates on the X-axis
#   date_labels = totals_by_date.index
#   ticks = ax.set_xticks(range(len(date_labels)), date_labels, rotation=90)

# insert your code here

<div style="background-color:palegreen">

### How to Visualize a Pandas DataFrame as a bar plot

Example:
```bash     
mydataframe.plot(x, y, kind='bar',
                 figsize=(width, height),  # measurments in inches
                 title='My Title',         # optional
                 xlabel='My x axis label', # optional
                 ylabel='My y axis label') # optional
```
</div>

In [ ]:
# Now visualize it using a bar graph instead

# insert your code here

In [ ]:
# Use a group by to compute the total groceries purchased for each Category

# insert your code here

In [ ]:
# Visualize category data using a bar graph

# insert your code here

<div style="background-color:palegreen">

### How to Visualize a Pandas DataFrame as a pie plot

Example:
```bash     
mydataframe.plot(y, kind='pie',
                 figsize=(width, height),  # measurments in inches
                 autopct='%.1f%%',         # displays percentage to one d.p.
                 title='My Title',         # optional
                 xlabel='My x axis label', # optional
                 ylabel='My y axis label') # optional
```

</div>

In [ ]:
# Visualize the category data using a pie chart with percentages shown for each slice. 

# insert your code here

<div style="background-color:palegreen">

### How to use a group by with more than one column in Pandas

Examples:
```bash      
    mydataframe.groupby(['column1', 'column2']).other_column.mean()
    mydataframe.groupby(['column1', 'column2']).other_column.sum()
    mydataframe.groupby(['column1', 'column2']).other_column.min()
``` 
</div>

In [ ]:
# Group by both the ShoppingDate and the Category and compute the total cost for each group

# insert your code here

In [ ]:
# What happens if you apply the unstack() method to these results?

# insert your code here

In [ ]:
# Plot the resulting unstacked data as a stacked bar graph (set parameter stacked=True)

# insert your code here

## Weather Data Example

In [ ]:
weather = pd.read_csv('Data/BrisbaneDailyWeather.csv', index_col=0, parse_dates=[0])
weather

In [ ]:
# Plot the MinTemp and MaxTemp columns together on a simple line plot

# insert your code here

<div style="background-color:palegreen">

### How to access the parts of a DataFrame index of type date/time

Examples:
```bash      
    mydataframe.index.minute
    mydataframe.index.hour
    mydataframe.index.day
    mydataframe.index.day_name()
    mydataframe.index.day_of_week
    mydataframe.index.day_of_year    
    mydataframe.index.weekofyear 
    mydataframe.index.month
    mydataframe.index.month_name
    mydataframe.index.year  
``` 
</div>

In [ ]:
# Use a group by to find the average Minimum and Maximum Temp for each day of the year

# insert your code here

# Result should be 366 rows Ã— 2 columns

In [ ]:
# Plot these day averages together on a single line plot

# insert your code here

In [ ]:
# Compute the statistical correlation between all variables in the weather data
# Which columns are closely correlated?

# insert your code here

<div style="background-color:palegreen">

### How to Visualize a Pandas DataFrame as a scatter plot

Example:
```bash     
    ax = mydataframe.plot(x='column1', y='column2', kind='scatter')
```
</div>

In [ ]:
# Create a scatter plot of the minimum temperature vs the maximum temperate
# What pattern do you notice?

# insert your code here

In [ ]:
# Determine the minimum and maximum values of the MaxTemp column

# insert your code here